<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>마이페이지 리스트</title>
<link rel="stylesheet" href="/css/myPageList.css">
<script>
	function serach() {
		let searchText = document.getElementById("searchText").value; /*document:전체에서, 속성을 get해와라 Id로 */
		location.href = "/member/myPageList?searchText=" + searchText; /* 요청한페이지로 쿼리파라미터 데리고감 */
	}
</script>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-brand-group">
				<a class="navbar-brand" href="/">Delicious Bee</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a href="#"
						th:onclick="|location.href='@{/restaurant/rtwrite}'|"
						class="nav-link">맛집등록</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">커뮤니티</a></li>
					<li class="nav-item" sec:authorize="isAnonymous()"><a
						class="nav-link" id="loginButton" href="#">로그인</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link" th:href="@{/member/myPage}"
						th:text="${#authentication.principal.nickname}"></a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div id="container">
		<h1>델리비 리뷰</h1>
		<p>
		<table>

			<div th:each="entry : ${randomReviewsByCategory}">
				 <h2>카테고리<span th:text="${entry.key}"></span></h2>
				<div class="reviews" th:each="review : ${entry.value}">
					<a th:href="@{/member/myPage(id=${review.beeMember.myPage.id})}">
						<div th:text="${review.beeMember.nickname}" class="nickname"></div>
					</a>
					<h4 th:text="${review.restaurant.name}"></h4>
					<div th:each="file : ${review.attachedFile}">
						<div th:if="${file.saved_filename}">
							<img
								th:src="@{'/review/display?filename='+${file.saved_filename}}"
								alt="Review Image"
								style="width: 300px; height: 300px; object-fit: cover;">
						</div>
					</div>
					<div class="content">
						<div th:text="${review.reviewContents}"></div>
					</div>
					<span>추천메뉴: </span> <span th:text="${review.recommendItems}"></span>
				</div>
			</div>
			


			<h5>리뷰 순위</h5>
			<tr th:each="myPage, status : ${reviewCount}">
				<td class="center" th:text="${status.index + 1}"></td>
				<!-- 순위 -->
				<td class="center"><a
					th:href="@{/member/myPage(id=${myPage.id})}"> <span
						th:text="${myPage.beeMember.nickname}"></span></a></td>
				<td class="center" th:text="${myPage.beeMember.review.size()}"></td>
				<!-- 리뷰 개수 -->
			</tr>
		</table>

		<div class="center">
			<input type="button" onclick="location.href='/'" value="메인으로">
		</div>
	</div>
</body>
</html>